body{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(120deg, #007bff, #d0314c);
  height: 50vh;
  overflow: hidden;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 29vw;
  background: blue;
  border-radius: 10px;
}

.center h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
}

.center form{
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0px;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:Valid ~ span::before{
  width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

.pass:hover{
  text-decoration: underline;
}

input[type="Submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

}

input[type="Submit"]:hover{
  background: #2691d9;
  color: #e9f4fb;
  transition: .5s;
}

.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a{
  color: #2691d9;
  text-decoration: none;
}

.signup_link a:hover{
  text-decoration: underline;
}

.HomeAbout{
  width: 100vw;
  height: 25vh;
}
body{
    font: 19/1.5 Arial,
    Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-image:url( "/deting image.jpg");
    background-color:blue;
}

/*Global */
.container{
    width: 80;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38;
    background: yellow;
    border: 0;
    padding-left: 20;
    padding-right: 20;
    color: yellow
}
.dark {
    padding:15;
    background: yellow;
    color:white;
    padding-top :10px;
    min-height: 70;
    border-bottom:darkorange 3 solid ;
}

header a{
    color: yellow;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;

}
header #brandind h1{
 float: left;   
}

header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 20px;
}

header.highlight,header.current a{
    color: #a0522d;
    font-weight: bold;
}

/* showcase */
deting{
    min-height: 90px;
    background: url( "/deting image.jpg"); no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #daa520;
}

#showcase h1{
    margin-top: 400px;
    font-size: 55px;
   margin-bottom: 100px;
}
#showcase p{
    font-size: 20px
}

/* Newslwtter */
#newsletter{
    padding: 15px;
    color:#ffffff;
    background:#ebf612;
}

#newsletter h1{
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes */
#boxes{
    margin-top: 30px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
}

/* Sidebar */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input,aside#sidebar .quote textarea{
    width: 900%;
    padding: 5px;
}

/* Main-col */
article#main-col{
    float: left;
    width: 65%;
}

/* Services */
ul#services li{
    list-style: none;
    padding: 20px;
    border: #35424a;
    margin-bottom: 5px;
    background: #a0522d;
}
/* Contact */
ul#contact li{
    list-style: none;
    padding: 20px;
    border: #35424a solid 1px;
    margin-bottom: 5px
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #fbfb0edd;
    background-color: #40474b;
    text-align: center;
}

/* Media Queries */
@media(max-width: 900px) {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }

    #newsletter form
    input[type="email"], .quote
    input, .quote textarea{
        width: 100%;
        margin-bottom: 5px;
    }
}
