body{
    font: 19px/1.5 Arial,
    Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("/deting image.jpg");
    background-color:#a0522d;
}

/*Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38px;
    background: #e7e727d3;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #e6e6fa
}
.dark {
    padding:15px;
    background:#35424a;
    color:#cfcf16;
    padding-top :10px;
    min-height: 70px;
    border-bottom:darkorange 3px solid ;
}

header a{
    color: #faf0e6;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;

}
header #brandind h1{
 float: left;   
}

header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 20px;
}

header.highlight,header.current a{
    color: #a0522d;
    font-weight: bold;
}

/* showcase */
img{
    min-height: 90px;
    background: url('image/IMG_20211211_131304_303.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #daa520;
}

#showcase h1{
    margin-top: 400px;
    font-size: 55px;
   margin-bottom: 100px;
}
#showcase p{
    font-size: 20px
}

/* Newslwtter */
#newsletter{
    padding: 15px;
    color:#ffffff;
    background:#ebf612;
}

#newsletter h1{
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes */
#boxes{
    margin-top: 30px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
}

/* Sidebar */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input,aside#sidebar .quote textarea{
    width: 900%;
    padding: 5px;
}

/* Main-col */
article#main-col{
    float: left;
    width: 65%;
}

/* Services */
ul#services li{
    list-style: none;
    padding: 20px;
    border: #35424a;
    margin-bottom: 5px;
    background: #a0522d;
}
/* Contact */
ul#contact li{
    list-style: none;
    padding: 20px;
    border: #35424a solid 1px;
    margin-bottom: 5px
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #fbfb0edd;
    background-color: #40474b;
    text-align: center;
}

/* Media Queries */
@media(max-width: 900px) {
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }

    #newsletter form
    input[type="email"], .quote
    input, .quote textarea{
        width: 100%;
        margin-bottom: 5px;
    }
}
